<div class="modal fade" id="editFinTransModal" tabindex="-1" aria-labelledby="editFinTransModalLabel" aria-hidden="true">

    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addFinTransModalLabel">Modifier la transaction selectionnée</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="row justify-content-center g-3" action="{{ pathRoot }}fintrans/editFinTransValid" method="post">
                    <input type="hidden" name="id" id="id">
                    <input type="hidden" name="accountId" value="{{ clientAccount.id }}">
                    <div class="col-md-10 mb-3">
                        <label for="categoryId" class="col-form-label required">Type</label>
                        <select class="form-select" id="categoryId" name="category" required>
                            {% for finTransCategory in finTransCategoriesFr %}
                                <option value="{{ finTransCategory }}">
                                    {{ finTransCategory }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-10 mb-3">
                        <label for="dateId" class="col-form-label required">Date</label>
                        <input type="date" class="form-control" id="dateId" name="date" required>
                    </div>
                    <div class="col-md-10 mb-3">
                        <label for="titleId" class="col-form-label required">Titre</label>
                        <input type="text" class="form-control" id="titleId" name="title" required>
                    </div>
                    <div class="col-md-10 mb-3">
                        <label for="descriptionId" class="col-form-label required">Description</label>
                        <input type="text" class="form-control" id="descriptionId" name="description" required>
                    </div>
                    <div class="col-md-10 mb-3">
                        <label for="amountId" class="col-form-label required">Montant HT</label>
                        <div class="input-group">
                            <input type="number" step="0.01" class="form-control" id="amountId" name="amount" required>
                            <span class="input-group-text">€</span>
                        </div>
                        <small class="form-text text-muted"><i class="bi bi-exclamation-triangle"></i> Entrez le montant hors taxes ! Le montant TTC sera automatiquement calculé.</small>                    
                    </div>
                    <div class="col-md-10 mb-3">
                        <label for="vatRateId" class="col-form-label required">TVA</label>
                        <div class="input-group">
                            <input type="number" step="0.01" class="form-control" id="vatRateId" name="vatRate" required>
                            <span class="input-group-text">%</span>
                        </div>
                        <small class="form-text text-muted">Entrez le pourcentage de la TVA.</small>
                    </div>
                    <div class="col-12 text-end">
                        <button type="submit" class="btn btn-primary">Modifier</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>