{% extends "Base.twig" %}

{% block main %}
    <div class="row justify-content-center">
        <div class="col-12 image-container">
            <img src="{{ pathRoot }}public/assets/images/worga-index-bg-picture.png" class="index-img" alt="">
        </div>
    </div>
{% endblock %}