.navbar-bg-color {
    background-color: #E1DDD6;
}

.index-img {
    width: 70rem; 
    height: auto;
}

.navbar-img {
    width: 10rem; 
    height: auto;
}

.bg-dark-beige {
    background-color: #C7C3BA;
}

.bg-light-beige {
    background-color: #EBE7E1;
}