.navbar-bg-color {
    background-color: #E1DDD6;
}

.image-container {
    width: 90%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: top center;
}

.index-img {
    width: auto;
    height: 90%;
    object-fit: cover;
    object-position: top center;
}

@media (max-width: 1200px) {
    .index-img {
        width: auto;
        height: 45%;
        object-fit: cover;
        object-position: top center;
    }
}

.navbar-img {
    width: 10rem; 
    height: auto;
}

.bg-dark-beige {
    background-color: #C7C3BA;
}

.bg-light-beige {
    background-color: #EBE7E1;
}

label.required::after {
    content: " *";
    color: red;
}